<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation Type</title>
</head>
<body>
<div class="container">
    <div class="container" align="center">
        <table >
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name unit type</td>
                    <td>Description operation type</td>
                    <td> <a href="{% url 'Create_OperationType' %}">Create</a></td>
                </tr>

            </thead>
            <tbody>
                {% if object_list %}
                    {% for obj in object_list %}
                        <tr>
                            <td>{{page_obj.start_index|add:forloop.counter0}}</td>
                            <td>{{ obj.code }}</td>
                            <td>{{ obj.name }}</td>
                            <td>
                                <a href="{% url 'Update_OperationType' obj.id_type_operation %}">Update</a>
                                <a href="{% url 'Delete_OperationType' obj.id_type_operation %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <h1>There aren't registers</h1>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>