{% extends 'base.html'%}
{% block content %}

    <div class="container" align="center">
        <h1>Voucher Type</h1>
        <table >
            <thead>
                <tr>
                    <td>#</td>
                    <td>Code unit type</td>
                    <td>Name unit type</td>
                    <td>Description voucher type</td>
                    <td> <a href="{% url 'warehouse_templates:Create_VoucherType' %}">Create</a></td>
                </tr>

            </thead>
            <tbody>
                {% if object_list %}
                    {% for obj in object_list %}
                        <tr>
                            <td>{{page_obj.start_index|add:forloop.counter0}}</td>
                            <td>{{ obj.code }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.description }}</td>
                            <td>
                                <a href="{% url 'warehouse_templates:Update_VoucherType' obj.id_voucher_type %}">Update</a>
                                <a href="{% url 'warehouse_templates:Delete_VoucherType' obj.id_voucher_type %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <h1>There aren't registers</h1>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}